@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Outfit:wght@300;400;600&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --Cyan: hsl(178, 100%, 50%);
  --SoftBlue: hsl(215, 51%, 70%);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
}

.card {
  width: 32.7rem;
  height: 54.2rem;
  border-radius: 1rem;
  padding: 2.9rem;
  background-color: hsl(216, 50%, 16%);
  position: relative;
}

.card img {
  width: 26.9rem;
  height: 26.9rem;
  border-radius: 1rem;
}

.card__img--overlay img {
  height: 2.5rem;
  width: 2.5rem;
}

.card__img--overlay:hover {
  opacity: 100;
  cursor: pointer;
}

.card h1 {
  color: var(--white);
  font-size: 1.8rem;
  margin: 3rem 0;
}

.card h1:hover {
  cursor: pointer;
  color: var(--Cyan);
}

.card p {
  color: var(--SoftBlue);
  font-size: 1.6rem;
  margin: 22rem, 0;
}

.info__price {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid hsl(215, 32%, 27%);
  padding-bottom: 1.2rem;
  margin-bottom: 1.6rem;
}

.info__price--left {
  display: flex;
  align-items: center;
}

.info__price--left .icon {
  height: 2.1rem;
  width: 1.3rem;
  margin-right: 0.9rem;
}

.info__price--left span {
  color: var(--Cyan);
  font-size: 1.3rem;
}

.info__price--right {
  display: flex;
  align-items: center;
}

.info__price--right .icon {
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 0.9rem;
}

.info__price--right span {
  color: var(--SoftBlue);
  font-size: 1.3rem;
}

.creator__info {
  display: flex;
  align-items: center;
}

.creator__info img {
  height: 3.3rem;
  width: 3.3rem;
  border-radius: 50%;
  border: 0.1rem solid var(--white);
  margin-right: 1rem;
}

.creator__info span {
  color: var(--SoftBlue);
  font-size: 1.3rem;
}

.creator__info span b {
  color: var(--white);
}

.creator__info span b:hover {
  cursor: pointer;
  color: var(--Cyan);
}

.card__img--overlay {
  width: 26.9rem;
  height: 26.9rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 2.9rem;
  background-color: hsla(178, 100%, 50%, 0.522);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
}
